.leftCol {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.rightCol {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
/* Merriweather & Oxygen Font Styles */

/* Black Mint colorscheme */


.reveal {
  font-family: "Oxygen", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  background: #111;
  background-color: #111;
  color: #fff;
}

.reveal .slide-number {
  font-family: "Oxygen", sans-serif !important;
  background-color: inherit !important;
}


.reveal h1,
.reveal h1 .title,
.reveal h1.title,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: none;
  margin: 0 0 20px 0
}

.reveal h1 {
  font-size: 115.362px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2)
}

.reveal h2 {
  font-size: 64.566px
}


.reveal h3 {
  font-size: 47.43px
}

.reveal h4 {
  font-size: 30.6px
}

.reveal h5 {
  font-size: 30.6px
}

.reveal h6 {
  font-size: 30.6px
}


.reveal h1.title,
.reveal h2.author,
.reveal h3.date {
  font-weight: bold;
  text-align: right;
}

.reveal h1.title {
  margin-bottom: 135px;
}

.reveal h1.title b,
.reveal h2.author b,
.reveal h3.date b {
  color: rgb(255, 0, 136);
}

.reveal h2.author,
.reveal h3.date {
  font-family: "Oxygen", sans-serif;
  font-size: 36px;
}

.reveal h3.date {
  margin-bottom: 0;
}


.reveal section,
.reveal section p,
.reveal section div,
.reveal section a.roll {
  line-height: 1.3em
}

.reveal section p {
  margin-bottom: 10px
}

.reveal section font {
  line-height: 1
}

.ua-safari.reveal,
.ua-safari .reveal,
.ua-phantomjs.reveal,
.ua-phantomjs .reveal {
  letter-spacing: -1px
}


.reveal a {
  color: #8dd792;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  transition: color .15s ease
}

.reveal a:hover {
  color: #d9f1da;
  text-shadow: none;
  border: none
}

.reveal .roll span:after {
  color: #fff;
  background: #54c35c
}

.reveal section img {
  margin: 15px;
  border: 4px solid transparent
}

.reveal a img {
  -webkit-transition: all .15s linear;
  transition: all .15s linear
}

.themed a:hover img,
.reveal a:hover img {
  border-color: #8dd792
}


/* Controls */

/* hide up down */

.reveal .controls .navigate-up,
.reveal .controls .navigate-down {
  display: none;
}

.reveal .controls {
  display: none;
  position: absolute;
  top: auto;
  bottom: 12px;
  right: 12px;
  left: auto;
  z-index: 1;
  color: #000;
  pointer-events: none;
  font-size: 10px
}


.reveal .controls button {
  position: absolute;
  color: #8dd792;
  width: 3.6em;
  height: 3.6em;
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  pointer-events: auto;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.reveal .controls button:before,
.reveal .controls button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6em;
  height: 0.5em;
  border-radius: 0.25em;
  background-color: currentColor;
  -webkit-transition: all 0.15s ease, background-color 0.8s ease;
  transition: all 0.15s ease, background-color 0.8s ease;
  -webkit-transform-origin: 0.2em 50%;
  -ms-transform-origin: 0.2em 50%;
  transform-origin: 0.2em 50%;
  will-change: transform
}

.reveal .controls button:before {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(45deg)
}

.reveal .controls button:after {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(-45deg)
}

.reveal .controls button:hover:before {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(40deg)
}

.reveal .controls button:hover:after {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(-40deg)
}

.reveal .controls button:active:before {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(36deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(36deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(36deg)
}

.reveal .controls button:active:after {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-36deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-36deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(-36deg)
}


.reveal .controls .navigate-left {
  right: 4.5em;
  bottom: 3.2em;
  border: 0px;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

.reveal .controls .navigate-right {
  right: 1em;
  bottom: 3.2em;
  border: 0px;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px) -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.reveal .controls .navigate-right.highlight {
  -webkit-animation: bounce-right 2s 50 both ease-out;
  animation: bounce-right 2s 50 both ease-out
}


.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: transparent;
  border: 0px;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: transparent;
  border: 0px;
}

/*

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: currentColor;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: currentColor;
}
*/

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: transparent;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: transparent;
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: transparent;
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: transparent;
}


.reveal .progress {
  color: #8dd792
}

.reveal .progress span {
  background: currentColor;
}





/* Highlight JS */

.hljs {
  display: block;
  overflow-x: auto;
  background: #3f3f3f;
  color: #dcdcdc
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #e3ceab
}

.hljs-template-tag {
  color: #dcdcdc
}

.hljs-number {
  color: #8cd0d3
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc
}

.hljs-literal {
  color: #efefaf
}

.hljs-subst {
  color: #8f8f8f
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #efef8f
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #dca3a3
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #cc9393
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7f9f7f
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}




@import url(//cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

.reveal pre,
.reveal code {
    font-family: "Fira Code";
    background-color: transparent;
    color: inherit;
    padding: 0;
    /*color = currentColor; */
}


/* Code */
/*
code, pre {
    font-family: "Fira Code", ;
}
*/

.pink {
  color: rgb(255, 0, 136);
}
.blue {
    color: rgb(0, 170, 255);
}
.purple {
    color: rgb(128, 85, 196);
}
.reveal p code,
.reveal li code {
    /*padding: .25em .5em;
    font-size: 85%;
    border-radius: 3px;
    */
    color: rgb(0, 170, 255);
}

.reveal p b,
.reveal p strong,
.reveal li strong,
.reveal li b {
  color: rgb(255, 0, 136);
}


pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
}

.sourceCode {
    border: 0;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}
